html
{
	height: 100%;
}

body 
{
	background-image: linear-gradient(#ffffff, #ffffff, #cccccc);
	background-repeat: no-repeat;

}
	
.engine-image
{
	width: 10%;
	height: 10%;
	opacity: 0.7;
	transition: 0.5s;
	border-radius: 35px;
}
	
.engine-image:hover
{
	opacity: 1;
	background-color: #A0A0A0;
	border-radius: 15px;
}
	
.engines
{
	margin-top: 10%;
	text-align: center;
}
	
.search
{
	margin-top: 3%;
	text-align: center;
}
	
.choice-image
{
	height: 3%;
	width: 3%;
	display: none;
}
	
button 
{
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background-color: #007dc1;
	border-radius: 3px;
	border: 1px solid #124d77;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
	transition: 0.5s;
}
	
button:hover 
{
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color: #0061a7;
	transition: 0.5s;
}
	
button:active
{
	position: relative;
	top: 1px;
}

input
{
	box-shadow: 0px 6px 7px 2px rgba(0,0,0,0.25);
	transition: 0.5s;
	border-radius: 5px;
}

input:focus
{
	box-shadow: 0px 6px 17px 2px rgba(0,0,0,0.5);
}
	
select
{
	transition: 0.5s;
}
	
select:hover
{
	background-color: #e2e5e9;
}